#chat{
    margin: 0 auto;
    width: auto;
}

#all_messages{
    margin-top: 1em;
    height: 450px;
    overflow: auto;
    width: 100%;
}

.message {
    background-color: #1ca2d6;
    color: white;
    padding: 5px;
    margin-top: 12px;
    display: inline-block;
    margin-left: auto;
    border-radius: 10px;
}

#write_message{
    padding: 20px;
    display: inline-block;
}

.botonera{
    margin-top: 1em;
}

#usersOnline {
    color: green;
    display: inline-block;
}

#new_user{
    color: white;
    background-color: green;
    display: inline-block;
    padding: 0px 5px 0px 5px;
    border-radius: 10px;    
}

#off_user{
    color: white;
    background-color: red;
    display: inline-block;
    padding: 0px 5px 0px 5px;
    border-radius: 10px;    
}

.contador{
    font-weight: bold;
}